<h1>User Details</h1>
<h3>Username: <%= @user.username %></h3>
<h3>Email: <%= @user.email %></h3>

<h4>Posts: </h4>
<ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post %></li>
    <% end %>
</ul>